[2017-05-27 16:26] dan-f opened #1 "Machine-readable 401s?"
The [brief workflow summary](https://github.com/solid/webid-oidc-spec#brief-workflow-summary) states that Alice gets presented with a "sign in" screen with her 401 from `bob.com`.

In the common case in which Alice's user agent is a mobile app or an async browser request, I'd expect Bob's response to include a [WWW-Authenticate](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authent

[2017-09-22 08:28] melvincarvalho opened #3 "discover from the WebID Profile : link leads to 404"
In the following section point 2 gives a 404

https://github.com/solid/webid-oidc-spec#authorized-oidc-issuer-discovery

Issue is that it's enclosed in (( )) instead of ( )

[2017-09-22 11:23] #3 closed

[2018-10-07 15:44] kevhill opened #5 "Can an ID provider access all services?"
Maybe I'm a bit confused, but if the only authentication done by the user is to the id providing service, couldn't any ID provider sign in to any connected service without the users' consent? This seems like a reasonable edge case when we use trusted centralized ID providers such as Google and FB, but seems very dangerous for decentralized services.

[2019-02-13 17:06] elf-pavlik opened #7 "OP doesn't have to host WebID"
https://github.com/solid/webid-oidc-spec#pod

WebID Profile can specify any OP with `solid:oidcIssuer`, since WebID Profile has to stay public any RS can host it, it doesn't even require RP if one edits it out of bound and doesn't rely on WAC for that.

[2019-03-14 19:28] elf-pavlik opened #9 "role of server side clients"
This relates to: https://forum.solidproject.org/t/push-notifications-push-api/1079

I can see use for all kinds of clients which run 'in the cloud' rather than on local devices in web browsers. In example below Alice and Bob use two different applications running on their devices and to my understanding acting as Presenters. But each of those application has companion client running on some server

[2019-03-22 13:03] namedgraph opened #10 "Deriving WebID URI from ID Token"
Of the 3 methods listed in [Deriving WebID URI from ID Token](https://github.com/solid/webid-oidc-spec/blob/master/README.md#webid-provider-confirmation), only the `UserInfo`-based one is realistic, the other ones are wishful thinking.

But if this WebID URI will not be used for the TLS-based authentication protocol, and most likely only relevant for ACL, why even bother?
Why not construct a URI f

[2019-03-22 13:17] namedgraph opened #11 "WebID Provider Confirmation"
I don't understand the problem described in [WebID Provider Confirmation](https://github.com/solid/webid-oidc-spec/blob/master/README.md#webid-provider-confirmation).

I think the core of the problem is expecting a global WebID in the ID-token. If it would be simply derived from claim fields that can be verified in a straightforward way (e.g. `iss` and `sub`, as I propose in #10), then the need fo

[2019-03-22 14:21] csarven commented on #10
I don't understand why "wishful thinking". The RP at some point needs to have some awareness of WebID, so why would one method be realistic and the others not?

If method 1 and 2 are wishful thinking, I don't understand "Why not construct..."

[2019-03-22 14:26] namedgraph commented on #10
Because in the general case you cannot rely on ID-token containing `webid` claim or `iss` being a URI -- that is not specified in OpenID Connect Core.

[2019-03-22 14:32] csarven commented on #10
WebID-OIDC is an extension of core. It isn't advertised as something else. So, the webid key is a clear signal from the server. Besides, string concat'ing key values to derive the WebID URI generally feels more like a hack to me, but that's the environment we are working with.

[2019-03-22 14:36] namedgraph commented on #10
What is the benefit of that extension though? Does it justify excluding all software that supports OpenID Connect Core but not WebID-OIDC? Which is like, the absolute majority.

Where is the WebID URI from WebID-OIDC being used? Isn't only for ACL?

Can't the WebID be formulated as Core-compliant _convention_ instead? I think I've shown that it can.

[2019-04-02 20:01] elf-pavlik commented on #7
Actually this section makes it pretty clear that OP doesn't have to host WebID: https://github.com/solid/webid-oidc-spec#authorized-oidc-issuer-discovery

[2019-04-02 20:01] #7 closed

[2019-04-03 09:19] michielbdejong opened #12 "Use client_id to distinguish web apps?"
I wasn't sure whether to create this issue on this repo or on the WAC repo, but this is a suggestion that came up during the 'acl:trustedApp' session of the unconference we did in Boston on 22 March, and I still had a todo item that I needed to convert it to a github issue. :)

I think the idea that @dmitrizagidulin coined was that instead of identifying web apps by their Origin, we could assign a

[2019-04-03 15:18] dmitrizagidulin commented on #12
@michielbdejong

Excellent question. (And just as an added detail, I would advocate that the solid oidc clients actually /use/ the client URLs as `client_id`s, when registering.)

The main advantage is this: It would extend the "trusted origin" ACL mechanism (and any variations we might come up with), from browser-apps-only, to server side and native apps as well.
Meaning, if we treat `client_id`s

[2019-04-03 16:26] justinwb commented on #12
For reference - there's a documented example of doing exactly that [here](https://github.com/solid/webid-oidc-spec/blob/master/application-workflow.md)

[2019-04-04 08:04] Sparika commented on #10
To summarize

Regarding method 1, it seems impractical to have the `sub` claim still present, but deprecated in favor of another claim. I agree though that the set of claim is extensible. But I think that the sentence `[webid] value should be used as the WebID URI by the Relying Party, instead of the traditional sub (subject identifier) claim` is at least unclear and at worst non-compliant with OI

[2019-04-04 08:43] Sparika commented on #11
What is missing is a way for the audience of the OIDC authentication containing a `webid` claim (or equivalent) to verify the validity of claim. Indeed, anyone can claim a WebID in the same way that everyone could claim an email address or a web origin.

I see three scenarios:
* Either the audience of the claim does not care about the validity of the claim. If you say this is your phone number and

[2019-04-04 09:11] namedgraph commented on #10
@Sparika the point of my proposal was that WebID-OIDC does not need new scopes or anything outside the OIDC spec that would drastically hamper adoption, just the `iss#sub` convention.

Re. the `sub` uniqueness - the [OIDC spec says](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) the following:

How do you understand "locally unique and never reassigned identifier"? To me it sounds

[2019-04-04 09:45] Sparika commented on #10
It was not obvious to me before one of the architect at Orange explained it to me. Consider the following example: `id` is your primary identifier. You authenticate to two different audience `aud1` and `aud2`. Then, `secure_hash(id+aud1)` and `secure_hash(id+aud2)` are two locally unique, never reassigned identifiers for user `id`. Privacy consideration: the `sub` claim cannot be used as a cross-a

[2019-04-04 13:08] jaxoncreed commented on #12
Briefly discussed on community call. There's preliminary consensus on the developer's side to implement this.

[2019-04-04 13:12] elf-pavlik commented on #9
from @dmitrizagidulin on a call

* Authorization Code flow
* Hybrid flow - both components share token (servers side component and app in the browser)

[2019-04-04 13:47] gobengo commented on #12
(to clarify: this should be normative language in the spec too, not just implemented in certain developers' apps/usecases)

[2019-04-04 14:16] jaxoncreed commented on #9
Noting what Demitri said in the community meeting: such an app would use oidc hybrid flow:

![image](https://user-images.githubusercontent.com/5464743/55561322-f1fad280-56bf-11e9-9ec6-7aa6356df7c6.png)

Where `Presenter X` and `Presenter Y` are the `Relying Party`. `Bot X` and `Bot Y` are the `resource server/api provider`.

Given we're going to implement client ids to distinguish web apps (https:

[2019-04-04 14:18] jaxoncreed commented on #12
@gobengo Correct. Given the alternative would be inherently insecure, this will now be normative.

[2019-04-04 15:25] elf-pavlik commented on #9
Just to clarify few things and match names used in diagram to terminology from [Decentralized Authentication Glossary](https://github.com/solid/webid-oidc-spec#decentralized-authentication-glossary)

*Presenter X* and *Presenter Y* act as:

* [Public client](https://github.com/solid/webid-oidc-spec#public-client-vs-confidential-client)
* [Presenter](https://github.com/solid/webid-oidc-spec#present

[2019-04-04 19:34] jaxoncreed commented on #12
@dmitrizagidulin I just want to confirm that the following is kosher within oidc specs:

Usually, app developers register their app with IDPs. That's where they get their client_id and can set custom redirect urls. But, under Solid, we obviously don't want to require app developers to register with every pod out there, and we certainly don't want apps to be able to redirect just anywhere.

So, aft

[2019-04-04 21:28] dmitrizagidulin commented on #12
Yeah, I do think that's a reasonable requirement. (Redirect uri to be similar domain as the client_id).

As far as the Dynamic Registration spec, I do vaguely recall that the spec itself points out that the client should feel free to suggest what client_id it wants (meaning, might as well use its uri), but that the IDP would be free to reject it and give it their own.

So yeah, I think it's a dece

[2019-04-04 21:29] dmitrizagidulin commented on #12
(And I do like your suggestion that having those two domains be the same means that there's less need for required Dynamic registration.)

[2019-04-04 21:30] elf-pavlik commented on #12
I don't see in this spec explicit mention of [OpenID Connect Dynamic Client Registration](https://openid.net/specs/openid-connect-registration-1_0.html)

[Client Registration Response](https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationResponse)

    REQUIRED. Unique Client Identifier. It MUST NOT be currently valid for any other registered Client.

It doesn't seem that clie

[2019-04-04 21:33] elf-pavlik commented on #12
I think we should consider making it possible to deploy different apps on the same origin. Let's say I would like to only use open source apps and always deploy them on my server. If we don't allow multiple apps (clients) on the same origin I would need to have setup where each app gets its own subdomain.

[2019-04-04 21:33] dmitrizagidulin commented on #12
@elf-pavlik

So I think I was thinking of [Section 8.2 - Stateless Registration](https://openid.net/specs/openid-connect-registration-1_0.html#StatelessRegistration), in the Dynamic Registration spec. I think that one could be interpreted that the client can specify their own client id (if the server is willing)

[2019-04-05 16:38] justinwb commented on #12
An option to consider that I believe would address this point by @elf-pavlik:
- client_id is the URL to a WebID associated with that application
- Provided in the WebID is the redirect_uri to use

[2019-04-06 02:41] timbl commented on #12
There seems to be a confusion between webapps and automomous apps, in the [protocol](https://github.com/solid/webid-oidc-spec/blob/master/application-workflow.md) given, where it says "Upon her confirmation here, DecentPhotos will be added as a trusted application in her WebID Profile, identified by its application/agent WebID (https://decentphotos.example/appid#this), and..."  The trusted app sys

[2019-04-06 02:46] justinwb commented on #12
Good catch @timbl - you're correct. The intent for that workflow is to demonstrate autonomous apps, which are authorized through the app's webid in the ACLs. Adding to the user's trusted apps in their profile would be unnecessary. Will adjust that.

[2019-04-07 03:00] timbl opened #15 "First study differentg ways of asking for peromission"
For apps asking to access a resource,
I think we should do a bake-off maybe of two designs,

- one using the built-in OIDC app authorization protocol, and
-  the other using LDN notifications to request access using a solid message

We need the latter for person yo request access to a resource, so maybe the app getting access should b the same code. That has been in the back of my head my not bein

[2019-04-10 18:11] michielbdejong commented on #12
There are two distinct proposals being discussed here:
 * Dmitri's proposal, to set the client_id to the app origin. I agree this fixes a problem in the web app flow.
 * the proposal that Justin linked to, to set the client_id to the app agent's webId. I think this is very different from how Solid currently works. Potentially better, I agree, but not a small change that we can decide on here, it w

[2019-04-10 19:32] RubenVerborgh commented on #12
The second one should be an issue in Solid spec.

[2019-04-10 19:33] RubenVerborgh commented on #12
For the original proposal, one problem: isn't the `client_id` specific per app per browser? Meaning that, if I switch browsers or clear local storage, that I have a "new app"? Or is part of this proposal to change that mechanism?

[2019-04-10 19:45] dmitrizagidulin commented on #12
@RubenVerborgh

Right, so, part of the proposal is to change the mechanism. Currently, each app has no identifier that persists across browser sessions etc - each time, it asks for the IdP to generate a random client_id for it. This works for authentication purposes, but wastes electrons, and is not very helpful for authorization.

So part of the proposal is to have the app propose a client_id to

[2019-04-10 19:47] RubenVerborgh commented on #12
Yeah, not to mention create a huge list on the server of one-time IDs that need to be kept just in case, but will never be used.

Got it, good.

[2019-04-11 07:52] michielbdejong commented on #12
Great, I think we all agree then. :) Created issues on two implementations of this spec, to follow this new recommendation. We should also edit the spec text to include it.

[2019-04-11 08:22] michielbdejong commented on #9
cc @sylvainlb about server-side clients

[2019-04-24 18:01] zenomt opened #18 "Issuer Discovery from Link Header vs WebID Profile"
when using the "Issuer Discovery From Link Header" method, the issuer is linked to the PersonalProfileDocument, not to the Person inside that the issuer is actually vouching for. in other words, the subject of the link isn't the WebID. i don't think that's semantically right.

doing an HTTP OPTIONS on the location of the profile document takes at least one extra round-trip time (assuming you'll re

[2019-04-24 18:25] zenomt opened #19 "WebID Provider Confirmation Implicit vs Explicit"
the current "The Solution" for WebID Provider Confirmation requires that the domain of the WebID be compared against that of the issuer first ("implicit"), before doing Authorized OIDC Issuer Discovery ("explicit"). i believe these steps should be reversed.

by allowing an issuer's origin to be the same as the WebID's origin (or for the WebID's hostname to be a subdomain of the issuer's hostname),

[2019-04-24 18:31] dmitrizagidulin commented on #18
While I don't object to removing Issuer Discovery From Link Header section if it's not useful, I do want to clarify:

I think you misunderstand. This method is to discover the authorized URL of the _server_, for a given WebID Profile document (not the person).
Meaning, that if I have somebody's WebID, like `https://dz.solid.community/profile/card#me`, I can do an OPTIONS request and figure out whi

[2019-04-24 18:57] dmitrizagidulin commented on #19
Agreed, we should reverse the order (this was also brought up earlier in this issue https://github.com/solid/oidc-auth-manager/issues/36 and the thread it references).

[2019-04-24 19:22] zenomt commented on #18
i mean that the OPTIONS request is on /profile/card, and the returned Link for an OIDC issuer would be for /profile/card, but the webid of interest is /profile/card#me.  that only makes sense if the semantics of rel="http://openid.net/specs/connect/1.0/issuer" means "issuer for the foaf:primaryTopic of URI", which seems hacky.

[2019-04-24 22:05] zenomt commented on #18
to put it a slightly different way: the first step in "Issuer Discovery From Link Header" says "1. Make an HTTP OPTION [sic] request to the WebID URI."  but that's not actually possible, because the WebID URI typically includes a fragment identifier, but fragment identifiers are not sent to HTTP servers as part of the request URI.

any links in a Link header returned by the server refer to the req

[2019-04-24 22:38] dmitrizagidulin commented on #18
@zenomt thanks!

I'm +1 on deprecating the "Issuer Discovery From Link Header" method. I don't think it's used out there in the wild (the auth clients are using the other method).

What do the rest of the Solid folks think?

[2019-04-25 15:48] elf-pavlik commented on #18
@dmitrizagidulin maybe worth marking it at risk with link to this issue? People could voice their objections (if any) directly on your PR.

[2019-04-25 19:10] dmitrizagidulin commented on #18
@elf-pavlik sounds good!

[2019-04-26 03:33] zenomt commented on #12
sorry to be late to this thread.

@dmitrizagidulin

that's not what that section means. [8.2 Implementation Notes on Stateless Dynamic Client Registration](https://openid.net/specs/openid-connect-registration-1_0.html#StatelessRegistration) says that an authorization server can encode information about the client into the client_id it returns. there's no way for the client to suggest to the server

[2019-04-26 04:27] dmitrizagidulin commented on #12
@zenomt - you’re absolutely right, thanks for the catch.

I have an alternate proposal, which should accomplish our overall goal, while still being compliant with the spec. (I’ll ask some of the oidc/oauth folks, as well as this community, to review it.)

[2019-04-26 04:43] zenomt commented on #12
one solution that comes to mind is to extend WebID-OIDC to have another claim in the id_token's claim set: the redirect_uri to which the token (or code) was sent.  the redirect_uri claim (or its origin) could be used for access control, for example.

**edit** the redirect_uri can be added to the `aud`ience claim (which can be a list). this requires that the `azp` claim is present and is the client

[2019-04-26 17:46] zenomt commented on #12
i was thinking about my above proposal a lot overnight. while the `aud`ience claim seems like the right place to put the redirect_uri, step 3 of [3.1.3.7 ID Token Validation (OIDC Core)](https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation) is ambiguous and could cause problems. specifically, it says "The ID Token MUST be rejected if the ID Token does not list the Client as a va

[2019-04-29 22:55] zenomt commented on #12
over the weekend i baked my idea into a complete protocol and wrote up a spec. it addresses app identification for both WebID-OIDC and WebID-TLS, can work with or without any modification to WebID-OIDC, formalizes handling of self-issued OIDC id_tokens, handles the "app/agent accessing resources on random servers on behalf if its user" problem for WebID-OIDC and WebID-TLS, and addresses some of th

[2019-05-01 03:32] zenomt opened #21 "multiple issues with application-workflow.md"
this pertains to the application-workflow.md document as of revision 0956476be (since i'm referring to several steps by number, and they might change after i submit this).

there are multiple issues with this document, but for now i think it makes sense to talk about them all in one place. sorry for the length.

this workflow *only* works when the IdP is also the Resource Server. while it might be

[2019-05-02 20:32] jaxoncreed commented on #12
Hi @zenomt thanks so much for your contribution! I'd like to clarify a few things with you. Would you be open to hopping on a call, or I'll be in the Fremont / Mountainview area next week so we could meet up in person.

[2019-05-02 20:45] zenomt commented on #12
hi @jaxoncreed  . i'm happy to have a call.  i made my email address visible in my github profile, so you can email me directly to arrange.

[2019-05-04 20:28] zenomt commented on #12
i hope i can be excused for not having read all closed tickets in all solid source repos.  :)  i did find a discussion by @dmitrizagidulin at https://github.com/solid/node-solid-server/issues/1061 which describes exactly the main situation i address in my proposal (IdP/OP, app, and RS are all separate), the discussion including references to PoP tokens (thanks @jaxoncreed for pointing me in that d

[2019-05-07 20:12] jvasseur commented on #18
I see one valid use case for discovering issuer with link headers: if you put the link header on the whole domain this allow users to connect by filling only their domain during provider selection instead of the full webId.

The workflow would be the following:
 - User enter only the domain part during provider selection
 - App fetch link header and redirect to auth URI
 - User login with login an

[2019-05-08 02:47] zenomt opened #22 "Proposal: support Self-Issued OpenID Providers as issuers for WebIDs"
a [Self-Issued OpenID Provider](https://openid.net/specs/openid-connect-core-1_0.html#SelfIssued) is a self-hosted OIDC Provider that issues self-signed ID tokens. such a self-signed ID token includes a public key in its `sub_jwk` claim, with which the token is signed. a self-signed ID token is identified as such with a special reserved issuer of "`https://self-issued.me`".

Proposal: extend the w

[2019-05-08 03:28] zenomt opened #23 "Proposal: recommend WebID OpenID Providers include redirect_uri in audience list to distinguish web apps"
in #12, it was proposed to use the client_id to distinguish web apps. as discussed in that issue, there are multiple problems with using the client_id (most importantly, that it must be unique for every OP for every registration, and is therefore likely to be non-human-friendly and also different run-to-run in in-browser apps, so hard to track).

the redirect_uri used in OAuth/OIDC flows can be a

[2019-05-08 04:26] zenomt opened #24 "Please document HTTP Authorization Bearer method currently used by NSS"
currently, the webid-oidc-spec suite documents only the "user logs directly in to a server or application by selecting her OIDC OP and logging in there" case. the specifications currently don't cover the "AJAX or API client request" case where a web application accesses a restricted resource on behalf of its user, particularly on a server that isn't also the user's OP, or where an automatic agent

[2019-05-08 16:57] zenomt commented on #24
even if the current POPToken protocol is experimental, it should still be documented.

perhaps a brief (but correct) description could be referenced by the more mature specs as "this is an open area of research. one experimental approach is ..."

[2019-05-09 03:47] zenomt opened #25 "Proposal: a protocol to obtain Bearer access tokens for HTTP Authorization for the AJAX/API/bot use case"
the example-workflow.md document leaves unspecified how an application or automatic client (like an in-browser AJAX client where no cookie exists or can be used, or a server-side application with its own WebID (like a bot)) obtains an access credential when presented with a `401 Unauthorized` response from a resource server.

[node-solid-server](https://github.com/solid/node-solid-server), [oidc-o

[2019-05-09 12:34] kjetilk commented on #25
Thanks a lot for writing this up! It caused confusion and pain to me as well when starting to write a test suite. I think we need to fix this.

[2019-05-10 03:18] jaxoncreed commented on #24
Completely agree. There were some things in the background that were preventing us from updating the docs, but those all seem to be rectified now. I'll be updating everything to be in-line with the implementation and proposing it to the w3c call next week.

[2019-05-10 03:21] jaxoncreed commented on #22
+1. We need to ensure an implementation that can allow bots to authenticate.

[2019-05-13 14:41] jaxoncreed commented on #25
@sylvainlb This might be interesting to you

[2019-05-14 20:48] jaxoncreed commented on #25
@zenomt When you say "the server, rather than the client, chooses the validity period of the access token;" Is the server the RS or the OP?

[2019-05-14 20:53] zenomt commented on #25
@jaxoncreed the resource server chooses the validity period of the access tokens it issues. the validity period of its access tokens could be shorter or longer than the validity period of the presented proof-tokens. the reasoning is: the access policy of the resource server is up to the resource server, not to the client or the client's OIDC Provider.

[2019-05-14 21:21] zenomt commented on #25
to be more precise, the access token is issued by the `webid_pop_endpoint`, which is the resource server's *authorization server*.  the resource server could be its own authorization server, or (in some deployments, like enterprise systems) the authorization server could be a centralized service to which multiple resource servers are coupled.

this separation is more obvious with the `webid_tls_en

[2019-05-14 23:13] jaxoncreed commented on #22
Had a talk with @dmitrizagidulin and he thinks this has some great implications for DiD implementations. We think there are more considerations to do before integrating it into the spec, so maybe he can talk about them here.

[2019-05-18 20:43] zenomt commented on #25
i struck out the "`302` redirect" mode above as a "highlight" of the protocol (though it's still present). that mode isn't useful to establish an application identifier with the `webid_pop_endpoint`. i've modified the spec, including the Syntax, Operation, and Security Considerations sections to explain why.  also in the Security Considerations section is an explanation as to why you can't believe

[2019-05-20 20:05] michielbdejong opened #28 "document how redirect_uri is put in an unsigned id token"
See e.g. https://github.com/solid/node-solid-server/pull/1187/files#diff-47999c1696636f2936bc78de7bf3147fR141 instead of putting redirect_uri in the URL query param which would be the standard OIDC thing to do

[2019-05-23 19:42] zenomt commented on #23
**deleted**: i missed an important detail in this comment. nobody has reacted or responded so a delete seems prudent. my next message will correct my mistake.

[2019-05-24 17:29] zenomt commented on #23
the point of having an application identifier in the id_token, rather than just using the `Origin` header, is for situations (like the AJAX/API/app/bot use case) where a Bearer access token is presented for authorization and the Origin header can't be trusted (because the presenter might not be the user's web browser).

by using the redirect_uri, placed into the id_token's `aud` claim by the OP, a

[2019-05-26 11:56] michielbdejong opened #29 "Compare to IndieAuth (e.g. in FAQ section)"
Moved from https://github.com/solid/web-access-control-spec/issues/52

[2019-05-26 12:05] csarven commented on #29
Was this brought up somewhere? I think this should probably be taken up by people sufficiently familiar with (actually comparable?) specs out there. I'd suggest to close the issue and if anyone feels the need to share such information they can publish an article about it somewhere.

[2019-05-27 10:00] michielbdejong commented on #29
I think what you say is that this FAQ should not be part of the spec? If so, we could move it to https://github.com/solid/information/, maybe?

[2019-05-27 10:56] csarven commented on #29
Yea, a place along those lines should be fine.

[2019-05-31 09:08] michielbdejong opened #30 "(brainstorm) does ‘bots have webids’ remove the need for 'client credentials flow'?"
From a gitter discussion, should we eventually investigate/pursue implementing something like https://auth0.com/docs/flows/concepts/client-credentials on our pod servers, or is it enough to just say bots should instruct their users to 'give <webid> access to your pod'?

I think I may vote for the latter, I think we don't have so many Solid bot developers yet that run into this need, most Solid app

[2019-05-31 11:20] kjetilk commented on #30
So, I think my problem so far has been that I don't see apps clearly verified as such, and that makes the whole thing a bit fuzzy for me, so I'd like to take a step back.

Currently, we have a user that can be authenticated, but there may be a bot behind the user, or we get a warning from the user agent (i.e. an `Origin` header) that the user may actually be code from somewhere else, right?

So, m

[2019-05-31 14:06] jaxoncreed commented on #30
Just a few of my thoughts following up on this: I see two ways that you can handle the cli use case: You could give the entity with the cli its own webId (You’d need to have an idp deployed for this bot, but Michael Thornborough has previously proposed a soltuion to this inconvenience using self-signed ids) or you could use the client credentials grant from oidc which allows the cli to represent t

[2019-05-31 14:11] RubenVerborgh commented on #30
Third: there is a separate WebID X representing an agent (with WebID Y) acting on behalf of another agent or user (with WebID Z). By dereferencing X, we find Y and Z.

[2019-05-31 14:34] kjetilk commented on #30
Yeah, thanks, @RubenVerborgh and @jaxoncreed ! Indeed, I find this latter possibility very attractive.

Nevertheless, I still feel there is a gap between different types of agents, like identifying them (is it a piece of code or is it an actual human), and having diverse authentication mechanisms (on-disk usernames and passwords isn't very attractive, for example)

[2019-05-31 20:46] zenomt commented on #30
for the "user using a CLI tool" case, what if\* the user can list multiple solid:oidcIssuers in her profile. one could be her ordinary issuer (probably her POD), and one could be the self-issuer `<https://self-issued.me>` #22.  the user could then add public keys to her WebID, and the CLI tool could be configured with a corresponding private+public key.  the CLI tool could then automatically authe

[2019-05-31 21:25] zenomt commented on #30
when you add "bots/server-side agents have their own WebIDs to which users can grant restricted access to portions of their PODs" then i don't think there's a need for the client credentials flow.

also, ordinary users are unlikely to understand the security implications of the client credentials flow.

[2019-06-09 04:03] zenomt commented on #25
i've made a reference implementation in https://github.com/zenomt/webid-auth-nginx .

[2019-06-14 02:55] zenomt commented on #25
unfortunately the minutes from this morning's Solid Community call were lost, and i don't remember who asked about it, but i have added a sequence diagram for the WebID-OIDC access token case to the https://github.com/zenomt/webid-auth-protocol .

[2019-06-14 06:56] michielbdejong commented on #25
Great! It was @bblfish who asked "[(Henry) Is there a sequence diagram as part of the spec?](https://www.w3.org/2019/06/13-solid-minutes.html)"

[2019-06-14 07:04] michielbdejong opened #32 "Make list of people with write access public"
When requesting a review, you need to include at least 2 people with write access, and I couldn't find that information anywhere, would be good to make it transparent, especially if we soon want to vote about electing new people for spec editor roles.

[2019-06-14 07:04] michielbdejong commented on #32
@Mitzi-Laszlo

[2019-06-14 09:30] michielbdejong commented on #32
Just got a reply from Kjetil, it's the Solid team members, so the current list is: @kjetilk @RubenVerborgh @justinwb @Mitzi-Laszlo @timbl.

So each PR needs to be reviewed first by experts who can actually tell if the changes are correct or not, and then they also need to be approved with 2 out of 5 votes from that list.

[2019-06-14 09:30] #32 closed

[2019-06-14 14:53] TallTed commented on #25
@zenomt - It can be helpful to ping the group for anyone who has personal IRC logs (as I would have, were I logged in to IRC at the time) ... or, if RRSAgent was present, to ping W3 admins for help locating the bot's log.  W3 admins can usually also help with processing anyone's IRC logs into minutes via the scripts.

[2019-06-14 23:16] kjetilk commented on #25
Ah, I am always on, even if I'm not on present :-) But it seems it is in the minutes? Anything else that was lost?

[2019-06-16 01:00] zenomt commented on #23
@RubenVerborgh commented in https://github.com/solid/webid-oidc-spec/pull/31#issuecomment-502230381

here seems like a good place to continue discussing this point.

the (resource/entity located by the) redirect_url is what the user has actually consented to share her identity with, and is the only URL from the client configuration that is necessarily followed and loaded by the user's browser in a

[2019-06-16 04:21] RubenVerborgh commented on #23
In any case, we'd be overloading. Aren't there any fields available for extension?

I don't think `redirect_uri` _itself_ is a good idea; perhaps a query string parameter to `redirect_uri` might work.

Side note: I thought that there was a need for registration for `redirect_uri` in some cases, which might not leave us that freedom.

[2019-06-16 04:45] zenomt commented on #23
there is a need to register **all** `redirect_uri`s for your client, and whichever one you use [must match exactly](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata) with a previously registered one.

there are no other fields or client claims that have the properties i mentioned above, particularly related to the user's consent and being followed&loaded by the browser.

[2019-06-16 04:58] RubenVerborgh commented on #23
Thanks for clarifying!

Yes, but https://openid.net/specs/openid-connect-core-1_0.html says:

And the list does not seem to be exhaustive. (I might have picked the wrong section, but it seems like a general principle.)

However, I feel like we probably want to create an issue for the _problem_ we are trying to solve, and work there on adding the desired attributes for a solution, and have separate

[2019-06-16 20:54] zenomt opened #33 "figure out how to distinguish web apps for the bearer token authorization case"
in https://github.com/solid/webid-oidc-spec/issues/23#issuecomment-502420306 @RubenVerborgh suggested that

there are currently two open Issues that propose technical solutions to this problem:

* #12 Use client_id to distinguish web apps?
* #23 Proposal: recommend WebID OpenID Providers include redirect_uri in audience list to distinguish web apps

the problem is that the `Origin` request header

[2019-06-16 20:58] RubenVerborgh commented on #33
I'd rather say:

The problem is that we want to identify apps, i.e., we need a unique identifier for every individual app.
Now we still need to determine the properties of that identifier. For instance:
- With “app”, we mean: …
- The identifier should / should not be different for different version of the app.
- It should / should not be possible to have multiple apps with different identifiers on

[2019-06-16 20:58] zenomt commented on #23
i opened #33 for this.

[2019-06-16 20:59] RubenVerborgh commented on #12
Problem this issue aims to solve: https://github.com/solid/webid-oidc-spec/issues/33

[2019-06-16 21:11] zenomt commented on #33
* it should/should not be possible for the app to impersonate a different app identifier without the user's knowledge or consent
* it should/should not be possible for the user to intentionally impersonate a different app identifier to a resource server
* it should/should not be possible for a single version of an app to have multiple distinct identifiers

[2019-06-17 15:08] michielbdejong commented on #12
In the end we decided that the resource server should look at the issuer of the PoP token. The token validation library will additionally check that is issuer is included in the audience list of the identity token that the PoP token is about.

[2019-06-17 15:08] michielbdejong commented on #12
at least that's the conclusion @dmitrizagidulin and @jaxoncreed and I just reached :)

[2019-06-17 15:09] RubenVerborgh commented on #12
Can there then be an issue proposing that solution in detail please?

[2019-06-17 15:10] RubenVerborgh commented on #12
Also, let's please keep this draft solution as-is, and propose different solutions in different issues.

And let's not forget to first complete https://github.com/solid/webid-oidc-spec/issues/33, such that we know what requirements the solution should satisfy, and that we can check whether the proposed solution does.

[2019-06-17 22:01] jaxoncreed commented on #12
The detailed explanation of this is in https://github.com/solid/webid-oidc-spec/pull/27. I'm thinking of eliminating the applicationWorkflow.md file in favor of the detailed version

[2019-06-17 22:18] timbl commented on #30
After thinking about this, I felt it was useful to standardize how a bot represents in it own profile that it is a bot. Some thinking on the classes at https://www.w3.org/DesignIssues/Bots .  - (Which class should we use?)

But also it important to be able to capture the owner/controller of the bot.    To be secure, the bot has to claim its owner in the bot's profile, and the owner has to also cla

[2019-06-17 22:32] timbl commented on #30
I made a bot:  https://timblbot.inrupt.net/profile/card#me . Here is an excerpt from its profile.

[code]

[2019-06-18 01:17] zenomt commented on #22
@jaxoncreed @dmitrizagidulin

ping?

[2019-06-18 01:38] timbl commented on #30
![Here is a screen shot of the ACL file](https://user-images.githubusercontent.com/1254848/59647120-08092280-9148-11e9-9739-9b86e276697a.png) is a

[2019-06-18 01:43] zenomt commented on #12
+1 . however, without a new Issue for this yet, i'd like to say

also +1

i feel that this aspect is orthogonal to the "what exactly *is* the appid" problem. this addresses "how do you find it, whatever it is".

[2019-06-18 02:05] zenomt commented on #22
also as i mentioned in https://github.com/solid/webid-oidc-spec/issues/30#issuecomment-497854769 the spec should explicitly allow multiple `solid:oidcIssuer`s, for the command-line tool case.  that way i can have a normal OIDC Provider that i can log in with normally in my browser, and the self-issued provider for use with command-line tools. my webid <https://zenomt.zenomt.com/card.ttl#me> is doi

[2019-06-18 02:11] zenomt commented on #23
per https://github.com/solid/webid-oidc-spec/issues/12#issuecomment-502723430

or being the `iss`uer of a proof-of-possession token.  which i currently think is the best way.

[2019-06-18 02:52] zenomt commented on #25
i updated my [full proposal](https://github.com/zenomt/webid-auth-protocol) based on https://github.com/solid/webid-oidc-spec/issues/12#issuecomment-502723430 which is a cleaner method of determining the appid from the id_token audience than i had originally proposed. i'm still proposing that the redirect_uri be the appid and that it is present in the id_token `aud` list.

[2019-06-18 08:13] RubenVerborgh commented on #30
`schema:SoftwareApplication` is likely better suited for the software the bot is running, not for the bot itself (which is `prov:SoftwareAgent`).

Also, likely neither a `schema:Person` nor a `foaf:Person`—I hope 🙂

[2019-06-23 19:51] zenomt commented on #33
* it **\[RFC 2119 keyword\]** be possible for a browser-only app (that is, having a simple, non-active, static-file server) to have an app identifier

[2019-06-23 20:04] zenomt commented on #33
an app is identified so that:

* as a user, i can limit what an app i'm using can do to my own resources
* as a user, i can limit what an app i'm using can do to others' resources
* as a resource owner, i can limit what others do to my resources based on what app the other is using

[2019-06-23 23:20] timbl commented on #12
This whole issue seems completely misguided and to be based on a complete misunderstanding about web apps.      The definition (more or less) of a web app is (more or less, from our point of view) a script which a user runs in a browser in a web page, by virtue of just following a link to the page.    The browser warns the server with the "Origin" header, which the web cannot control (nor the user

[2019-06-23 23:22] timbl commented on #12
(Bots, independent services running on the internet, are different.  They have a webid of their own.  It is good to call them bots instead of apps as apps can be web apps or native apps or bots.  The Origin header is never used at all in any way with bots)

[2019-06-23 23:40] timbl commented on #33
When you say "the a problem is that the Origin request header can't be trusted" that suggests a failure to distinguished between bots and web apps.  Bots do not use the origin header.   Webapps only have the origin header, and nothing else.   See the a problem is that the Origin request header can't be trusted. See https://github.com/solid/webid-oidc-spec/issues/12#issuecomment-504796670

If you w

[2019-06-25 00:11] zenomt commented on #33
@timbl the original title of this Issue was "figure out how to distinguish web apps for the bearer token authorization case". i agree that in "first party" cases where the user has logged directly in to a server/service, and is identified by a browser cookie, the Origin header is appropriate and sufficient (and i don't believe there is any other information that could be trusted in this case).

th

[2019-06-28 18:41] jaxoncreed commented on #12
@timbl Do you not think there is a place for web apps that have a backend component that queries pods instead of the web browser? These should still be protected by some kind of trusted app acl, but wouldn't have the origin header because it's not coming from the web browser.

Maybe a backend component isn't really the Solid way of doing it? What do you think?

[2019-06-28 20:10] zenomt commented on #12
@jaxoncreed @timbl also please see my comment in https://github.com/solid/webid-oidc-spec/issues/33#issuecomment-505227042 about why i think this is also (and i think primarily) applicable to pure in-browser app scenarios.

and also discussion at https://github.com/solid/solid-spec/issues/144 .

[2019-07-11 04:14] SimonShapiro opened #35 "Difficulty in implementing application flow"
I use `solid-auth-client` as the mechanism to authenticate users and the app to access their PODs.  I understand that once authenticated `solid-auth-client` places an object that is used later for interacting with their PODs into local storage.  When I interact with the POD from the client using `solid-auth-client` everything works ok in spite of the app being built in Python and compiled to Javas

[2019-07-11 07:31] RubenVerborgh commented on #35
So, let's take a step back to see what it is that you really want to do.

It seem to me that you want a server to be able to perform authenticated resource access, right?

Down the road, this will be addressed with OAuth2 application tokens. But this has not been implemented yet.

In the meantime, you can use this hack: https://github.com/jeff-zucker/solid-file-client

----

Security measures (tok

[2019-07-11 18:35] zenomt commented on #35
can you elaborate or link to what you mean here?  i'm not sure what an "OAuth2 application token" is. are you talking about offline refresh tokens, "service accounts", some kind of privileged meta-account that can act as another/any user at that OP, ...?

[2019-07-11 20:42] RubenVerborgh commented on #35
Something like https://developer.twitter.com/en/docs/basics/authentication/overview/oauth.html

[2019-07-11 21:28] zenomt commented on #35
@RubenVerborgh sorry, i still don't understand. assuming you're referring to the "Application-only authentication" mode on that page (since the "Application-user authentication" case is substantially the same as OIDC), for the decentralized Solid use case, wouldn't "app-only" access just be implemented by the app having a webid (that is, it's a bot), and granting access to the app's webid in ACLs?

[2019-07-11 21:38] RubenVerborgh commented on #35
To be honest, I'm not (trying to be) an expert in this matter; I'm merely echoing the high-level plan that I've heard.

Bots with WebIDs already sound good, but we haven't figured out the auth details for them (currently it's username/password with cookies).

But even if a bot has its own WebID, it would still be good if they could use something like an app token and secret, such that they act on

[2019-07-11 21:51] zenomt commented on #35
all you need is for the app/bot's webid to list a `solid:oidcIssuer` URI that has a `<URI>/.well-known/openid-configuration` that answers with Content-type application/json, that has a `jwks_uri` entry that, when dereferenced, answers (with content-type application/json) a JWKS with a public key that your bot signs its own id_tokens with.  the bot doesn't need to authenticate with its (potentially

[2019-07-11 21:53] RubenVerborgh commented on #35
Good point, indeed. Should work, just needs implementation.

[2019-07-12 02:10] zenomt commented on #35
it looks like NSS (at least running on solid.community) only does an `OPTIONS` on the webid URI (presumably looking for the `rel="http://openid.net/specs/connect/1.0/issuer"` link), and does not actually retrieve the full profile document to look for the `?webid solid:oidcIssuer ?issuer` triple.

this looks like an NSS bug. it will probably affect anyone whose webid document is hosted somewhere th

[2019-07-12 17:41] zenomt commented on #35
from source code inspection, i've found at least one bug in NSS (oidc-auth-manager) and one misfeature.

bug: oidc-auth-manager https://github.com/solid/oidc-auth-manager/blob/5827449e0d1d287668fff667661003e529eb8f9d/src/preferred-provider.js#L70-L73 drops any path part of an OIDC issuer URI, so it can never successfully match an id_token's `iss` if that claim has a path part (as my regular webid

[2019-07-13 21:45] zenomt commented on #35
the [tool](https://github.com/zenomt/webid-auth-nginx/blob/master/nss-poptool.py) i wrote can generate a usable access token if the issuer URI has no path part.

as another annoyance: NSS seems to cache some representations (like for the openid-configuration and jwks_uri) for way too long, and appears to ignore the Cache-control header.  i have "Cache-control: max-age=60" on responses for those bu

[2019-07-13 22:35] zenomt commented on #22
as i mentioned in https://github.com/solid/oidc-auth-manager/issues/45 it appears that NSS today doesn't work correctly if there are multiple `solid:oidcIssuer`s.

[2019-09-02 09:53] kjetilk opened #37 "solidtest.space is gone"
https://solidtest.space/ has been taken over by someone outside of the project. This repo seems to  have some mentions of it, which should be removed.

[2020-11-14 14:47] nickform commented on #18
Does anyone know the status of this? According to @dmitrizagidulin's update from 24 Apr 2019, the method marked at risk is not used in the wild but experimenting with my own profile today (https://nickform.inrupt.net/profile/card#me) I find that *only* that method is available - i.e. my profile document does not contain a triple using the <http://openid.net/specs/connect/1.0/issuer> relation. I'm

[2020-11-14 17:19] acoburn commented on #18
Much of the current work related to authentication in Solid is being conducted in the context of the [Authentication Panel](https://github.com/solid/authentication-panel), and the current [draft specification](https://solid.github.io/authentication-panel/solid-oidc/) will have the most up-to-date information about what is and what isn't in scope for authentication in Solid.

As to your question ab

[2020-11-14 18:58] nickform commented on #18
Thanks for the explanation @acoburn .

[2020-12-21 13:23] jasmineleonard opened #39 "Has the WebID-OIDC spec been superseded by the Solid OIDC spec?"
This repo does not seem to have been updated since August 2019.  Moreover, [Solid OIDC](https://solid.github.io/authentication-panel/solid-oidc/) seems to have replaced WebID-OIDC in the [Solid Protocol](https://solid.github.io/specification/protocol#solid-oidc) (specific commit here: https://github.com/solid/specification/commit/4b0cfaafd352d2d37b747de6a7ae26c7b17e9f59).

Has WebID-OIDC been supe

[2021-02-25 14:54] woutermont commented on #39
I would hope not, since this WebID-OIDC repo contains _a lot_ more info on the authentication flow than the Solid-OIDC spec does. _To me_, it seems as though the latter simply builds on the former, adding some small requirements specific to the Solid ecosystem. In any case, they do not seem to contradict each other, as far as I can immediately derive. It would be a lot clearer, indeed, if the nece

[2021-02-25 15:08] acoburn commented on #39
[Solid-OIDC](https://solid.github.io/authentication-panel/solid-oidc/) replaces WebID-OIDC